<a href="https://colab.research.google.com/github/arif-sakib330/A2/blob/main/Machine_Learning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine Learning**

**Keyboard Shortcut**

---
Ctrl + /       =   Comment

Shift + Enter  =   Run + Next cell

Ctrl + Enter   =   Run

Alt + Enter    =   Run + Create new cell

Ctrl + M + A   =	 নতুন code cell উপর add

Ctrl + M + B   =	 নতুন code cell নিচে add

Ctrl + M + D   =   Current cell delete

Ctrl + M + Z   =	 Deleted cell undo

Ctrl + F	     =   Find in cell

Ctrl + H	     =   Replace in cell

Ctrl + Shift + F   =  Find across notebook

# **2.2. Python Basics**

**Programming language for ml**

---




1.   Python
2.   R

**Basic Data Types**

---

1.   int
2.   float
3.   str
4.   boolean
5.   none
6.   complex ( 2+3j )

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print("Arif"+" Mohammad") #its called str concatenation

Arif Mohammad

In [ ]:
print(9+12)
print(9-12)
print(9*12)
print(9/12)

21
-3
108
0.75

In [ ]:
type (2.2)

float

In [ ]:
type("sakib")

str

In [ ]:
type(True)

bool

In [ ]:
type (2)

int

 **Constants and Variables**

---

In [ ]:
name = "sakib"
print(name)

sakib

In [ ]:
name = ("Arif")
print(name)

In [ ]:
hero1,hero2,hero3 = "arif","md","sakib"
print(hero1)
print(hero2)
print(hero3)

arif
md
sakib

In [ ]:
x = y = z = 28
print(x)
print(y)
print(z)

28
28
28

**Input Command**

---

In [ ]:
name = input("enter your name : ")
age = input("enter your age : ")
print("Name :",name)
print("Age : ",age)

enter your name : sakib
enter your age : arif
Name : sakib
Age :  arif

In [ ]:
num1 = input("first num : ")
num2 = input("2nd num : ")
print(num1 + num2)
#akane num add hoi na cz input gola str hisbe input hoi tai.

first num : 25
2nd num : 1
251

In [ ]:
num1 = int(input("first num : "))
num2 = int(input("2nd num : "))
print(num1 + num2)

**Change data type**

---

In [ ]:
age = 25
age_str = str(age)
print(age_str)
print(type(age_str))

25
<class 'str'>

# **2.3 Pythob basic data type**

In [ ]:
a = "sakib"
b = 2.4
c= 5
d = True
e = 2+3j
type(e)

complex

In [ ]:
type(e)
print(e)

(2+3j)

*Conversion data type to another*

---

In [ ]:
a = 5
b = 3.5
print(float(a))
type(float(a))
print(int(b))
type(int(b))

In [ ]:
condition = 7 > 5
print(condition)
type(condition)

In [24]:
print ("sakib "*10)

sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib

**Slicing**

---

In [38]:
str1 = "my name is sakib"
print(str1[0:2])
print(str1[0:]) # soro teke last porjonto print hbe
print(str1[:9]) # soro teke 9 index porjonto print hbe
print(str1[0:12:2]) # 1 letter por por print hbe
print(str1[0:12:3]) # 2 letter por por print hbe

my
my name is sakib
my name i
m aei
mnes

In [46]:
str2= "sakib"
print(str2[-1:-3])

# **2.4. Python Special data types | List Tuple Set Dictionary **

**Types of Objects in Python**
1. Immutable Objects
2. Mutable Objects

**Immutable Objects:**

**1. int**

**2. float**

**3. string**

**4. bool**

**5. tuple**

*   ()
*   doesn't allow --> duplicate values
*   has no --> attribute 'append'
*   immutable means Unchangeable

**Mutable Objects:**

**1. List** (array in js)

*   []
*   allow --> duplicate values
*   has --> attribute 'append'


**2. Set**

*   {} --> {'sakib' , 5.5,20}
*   doesn't allow --> duplicate values
*   has no --> attribute 'append'
*   doesn't support indexing


**3. Dictionary** (object in js)

*   {} --> {'name':'sakib' , 'age':20}
*   doesn't allow --> duplicate values
*   has no --> attribute 'append'

**List**

---

In [ ]:
# list should be included in the square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
# lists can have multiple data types
my_list = [2, 3, 1.8, 'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

Lists are Mutable. Means they are Changeable

In [ ]:
# add elements to a list
my_list = [2, 3, 1.8, 'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [49]:
# print elements of a list using their index
my_list = [2, 3, 1.8, 'English', True]
print(my_list[0])
print(my_list[3])

2
English

In [50]:
# lists allow duplicate values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [ ]:
print(len(list_1))

8

In [ ]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [ ]:
list_2.append(5)
print(list_2)

[5]

In [53]:
# delete an item in a list
list_2 = [2, 3, 1.8, 'English', True, 6]
print(list_2)

# del list_2[2]
del list_2[2:4]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, True, 6]

In [57]:
# join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]
list_51 = ["sakib",2004]

list_5 = list_3 + list_4
print(list_5)
print(list_51 + list_4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['sakib', 2004, 6, 7, 8, 9, 10]

**Tuple**

---

In [ ]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [ ]:
# tuple allows multiple data types
tuple_2 = (1,2,3.5, 'Machine Learning', False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [ ]:
# converting  a list to a tuple

my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [ ]:
print(my_tuple[0])
print(my_tuple[1])

3
4

Tuples are immutable it means Unchangeable

In [ ]:
my_tuple.append(6)

AttributeError: ignored

In [ ]:
print(len(my_tuple))

4

**Set**

---

In [59]:
# set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

In [ ]:
print(my_set[0])

TypeError: ignored

In [ ]:
# convert a list to a set
list_5 = [4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [ ]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

**Dictionary**

---

In [ ]:
my_dictionary = {'name':'David','age':30,'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [ ]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
30
India

In [ ]:
# dictionary does not allow duplicate values
dictionary_2 = {'name':'David','age':30,'country':'India','name':'David','age':30,'country':'India'}
print(dictionary_2)

{'name': 'David', 'age': 30, 'country': 'India'}