<a href="https://colab.research.google.com/github/arif-sakib330/A2/blob/main/Machine_Learning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine Learning**

**Keyboard Shortcut**

---
Ctrl + /   -----------=   Comment

Shift + Enter  ------=   Run + Next cell

Ctrl + Enter -------=   Run

Alt + Enter    --------=   Run + Create new cell

Ctrl + M + A   -------=	 নতুন code cell উপর add

Ctrl + M + B  -------=	 নতুন code cell নিচে add

Ctrl + M + D  -------=   Current cell delete

Ctrl + M + Z  -------=	 Deleted cell undo

Ctrl + F	    -----------=   Find in cell

Ctrl + H	    -----------=   Replace in cell

Ctrl + Shift + F ----=  Find across notebook

# **2.2. Python Basics**

**Programming language for ml**

---
1.   Python
2.   R

**Basic Data Types**

---
1.   int
2.   float
3.   str
4.   boolean
5.   none
6.   complex ( 2+3j )

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print("Arif"+" Mohammad") #its called str concatenation

Arif Mohammad

In [ ]:
print(9+12)
print(9-12)
print(9*12)
print(9/12)

21
-3
108
0.75

In [24]:
type (2.2)

float

In [ ]:
type("sakib")

str

In [ ]:
type(True)

bool

In [ ]:
type (2)

int

In [31]:
e = 2+3j
print(e,type(e))

(2+3j) <class 'complex'>

 **Constants and Variables**

---

In [ ]:
hero1,hero2,hero3 = "arif","md","sakib"
print(hero1)
print(hero2)
print(hero3)

arif
md
sakib

In [ ]:
x = y = z = 28
print(x)
print(y)
print(z)

28
28
28

**Input Command**

---

In [ ]:
name = input("enter your name : ")
age = input("enter your age : ")
print("Name :",name)
print("Age : ",age)

enter your name : sakib
enter your age : arif
Name : sakib
Age :  arif

In [ ]:
num1 = input("first num : ")
num2 = input("2nd num : ")
print(num1 + num2)
#akane num ar addition hoi na cz input gola str hisbe input hoi tai.

first num : 25
2nd num : 1
251

In [32]:
num1 = int(input("first num : "))
num2 = int(input("2nd num : "))
print(num1 + num2)

first num : 24
2nd num : 6
30

**Change data type**

---

In [33]:
age = 25
age_str = str(age)
print(age_str)
print(type(age_str))

25
<class 'str'>

# **2.3 basic data type [ int , float , string , complex , boolean ]**

*Conversion data type to another*

---

In [25]:
a = 5
b = 3.5
print(float(a))
type(float(a))
print(int(b))
type(int(b))

5.0
3

int

In [34]:
condition = 7 > 5
print(condition)
type(condition)

True

bool

In [ ]:
print ("sakib "*10)

sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib

**Slicing**

---

In [ ]:
str1 = "my name is sakib"
print(str1[0:2])
print(str1[0:])       # soro teke last porjonto print hbe
print(str1[:9])       # soro teke 9 index porjonto print hbe
print(str1[0:12:2])   # 1 letter por por print hbe
print(str1[0:12:3])   # 2 letter por por print hbe

my
my name is sakib
my name i
m aei
mnes

# **2.4. Python Special data types [ List Tuple Set Dictionary ]**

**Types of Objects in Python**
1. Immutable Objects --> Unchangeable
2. Mutable Objects  ----> Changeable

**Immutable Objects**

**1. int**

**2. float**

**3. string**

**4. bool**

**5. tuple**

*   ()
*   doesn't allow --> duplicate values
*   has no --> attribute 'append'
*   support --> indexing

**Mutable Objects**

**1. List** (array in js)

*   []
*   allow --> duplicate values
*   has --> attribute 'append'
*   support --> indexing


**2. Set**

*   {} --> {'sakib' , 5.5,20}
*   doesn't allow --> duplicate values
*   has no --> attribute 'append'
*   doesn't support --> indexing


**3. Dictionary** (object in js)

*   {} --> {'name':'sakib' , 'age':20}
*   doesn't allow --> duplicate values
*   has no --> attribute 'append'
*   doesn't support --> indexing

**List**

---

In [ ]:
# list should be included in the square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [38]:
# lists can have multiple data types
my_list = [2, 3, 1.8, 'English', True,True, 'English']
print(my_list)
print(my_list[0])
print(my_list[0:4])

[2, 3, 1.8, 'English', True, True, 'English']
2
[2, 3, 1.8, 'English']

Lists are Mutable. Means they are Changeable

In [46]:
# add elements to a list
my_list = [2, 3, 1.8, 'English', True]
my_list.append("sakib")
print(my_list)

#can check length
length = (len(my_list))
print('Length is',length)
# initiating an empty list
list_2 = []
print(list_2)

[2, 3, 1.8, 'English', True, 'sakib']
Length is 6
[]

In [65]:
# delete an item in a list
list_2 = [2, 3, 1.8, 'English', True, 6]

del list_2[3]
print(list_2)

list_3 = ['arif', 'sakib', True, 6]
del list_3[0:3]
print(list_3)

[2, 3, 1.8, True, 6]
[6]

In [67]:
# join two lists
list_4 = [1,2,3,4,5]
list_6 = ["sakib",2004]

list_5 = list_3 + list_4
# print(list_5)
print(list_6 + list_4)

['sakib', 2004, 1, 2, 3, 4, 5]

**Tuple**

---

In [75]:
tuple_1 = (2,3,4,5)
print(tuple_1)
print(len(tuple_1))
type(tuple_1)

(2, 3, 4, 5)
4

tuple

In [ ]:
# tuple allows multiple data types
tuple_2 = (1,2,3.5, 'Machine Learning', False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [71]:
# converting  a list to a tuple

my_list = [3,4,5,6]
print(my_list)
print(my_tuple[1])


my_tuple = tuple(my_list)
print(my_tuple)
print(my_tuple[0])

[3, 4, 5, 6]
4
(3, 4, 5, 6)
3

Tuples are immutable it means Unchangeable

In [72]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

**Set**

---

In [79]:
# set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
print(len(my_set))
type(my_set)

{1, 2, 3, 4, 5}
5

set

In [ ]:
print(my_set[0])

TypeError: ignored

In [81]:
# convert a list to a set
list_5 = [4,5,6,7,8]

new_set = set(list_5)
print(new_set)
type(new_set)

{4, 5, 6, 7, 8}

set

In [83]:
# set does not allow duplicate values
set_3 = {1,1,2,2,3,2,4,5,5}
print(set_3)

{1, 2, 3, 4, 5}

**Dictionary**

---

In [86]:
my_dictionary = {'name':'David','age':30,'country':'India'}
print(my_dictionary)
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])
type(my_dictionary)

{'name': 'David', 'age': 30, 'country': 'India'}
David
30
India

dict

In [87]:
# dictionary does not allow duplicate values
dictionary_2 = {'name':'David','age':30,'country':'India','country':'India','name':'David','age':30,}
print(dictionary_2)

{'name': 'David', 'age': 30, 'country': 'India'}

# 2.5. Operators in Python |Arithmetic Assignment Comparison Logical Identity Member

**Operators in Python**
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

**1. Arithmetic Operators**

---

In [ ]:
num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print('sum = ',sum)

# subtraction
diff = num_1 - num_2
print('difference = ',diff)

# multiplication
pro = num_1 * num_2
print('product = ',pro)

# division
quo = num_1 / num_2
print('quotient = ',quo)

# exponent
exp = num_1**num_2   # 20^10
print('exponent = ',exp)

# modulus
mod = num_1 % num_2
print('reminder = ',mod)

sum =  30
difference =  10
product =  200
quotient =  2.0
exponent =  10240000000000
reminder =  0

**2. Assignment Operators**

---

1.  +=

2.  -=

3.  *=

4.  **=

5.  /=

6.  %=

In [18]:
a = 5
print(a)
b = 5
b += 5   # b = b + 5
print(b)
c = 5
c -= 2   # c = c-2
print(c)
d = 95
d %= 10
print(d)
e = 2
e **= 3
print(e)

5
10
3
5
8

**3. Comparison Operators**

---

In [5]:
a = 5
b = 10

print('a == b is',a == b)   # equal to
print('a != b is',a != b)   # not equal to
print('a >  b is',a >  b)   # greater than
print('a <  b is',a <  b)   # lessthan
print('a <= b is',a <= b)   # equal greaterthan
print('a >= b is',a >= b)   # equal greaterthan

a == b is False
a != b is True
a >  b is False
a <  b is True
a <= b is True
a >= b is False

**4. Logical Operators**

---


*   and  --- [both should be true]
*   or   -----[at least one condition should True]
*   not  ----[it reverse the answer]

In [ ]:
a = 10

print( a>20 and a>5)
print( a>20 or a>5)
print( not( a>8 and a>5))

False
True
False

**5. Identity Operato**

---



1. is

2. is not

In [9]:
x = 5
y = 5
z = 10

print(x is y)
print(x is z)
print(x is not y)

True
False
False

**6. Membership Operator:**

---

1.  in

2.  not in

In [10]:
a = 5
b =10

c = [1,2,3,4,5]
print( a in c)
print( b in c)
print( a not in c)
print( b not in c)

True
False
False
True