<a href="https://colab.research.google.com/github/arif-sakib330/A2/blob/main/ML_Course_01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine Learning**

**Keyboard Shortcut**

---
Ctrl + /       =   Comment

Shift + Enter  =   Run + Next cell

Ctrl + Enter   =   Run

Alt + Enter    =   Run + Create new cell

Ctrl + M + A   =	 নতুন code cell উপর add

Ctrl + M + B   =	 নতুন code cell নিচে add

Ctrl + M + D   =   Current cell delete

Ctrl + M + Z   =	 Deleted cell undo

Ctrl + F	     =   Find in cell

Ctrl + H	     =   Replace in cell

Ctrl + Shift + F   =  Find across notebook

# 2.2. Python Basics

**Programming language for ml**

---




1.   Python
2.   R

**Basic Data Types**

---

1.   int
2.   float
3.   str
4.   boolean
5.   none
6.   complex ( 2+3j )

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print("Arif"+" Mohammad")

Arif Mohammad

In [ ]:
print(9+12)
print(9-12)
print(9*12)
print(9/12)

21
-3
108
0.75

In [ ]:
type (2.2)

float

In [ ]:
type("sakib")

str

In [ ]:
type(True)

bool

In [ ]:
type (2)

int

 **Constants and Variables**

---

In [ ]:
name = "sakib"
print(name)

sakib

In [ ]:
name = ("Arif")
print(name)

In [ ]:
hero1,hero2,hero3 = "arif","md","sakib"
print(hero1)
print(hero2)
print(hero3)

arif
md
sakib

In [ ]:
x = y = z = 28
print(x)
print(y)
print(z)

28
28
28

**Input Command**

---

In [ ]:
name = input("enter your name : ")
age = input("enter your age : ")
print("Name :",name)
print("Age : ",age)

enter your name : sakib
enter your age : arif
Name : sakib
Age :  arif

In [ ]:
num1 = input("first num : ")
num2 = input("2nd num : ")
print(num1 + num2)
#akane num add hoi na cz input gola str hisbe input hoi tai.

first num : 25
2nd num : 1
251

In [ ]:
num1 = int(input("first num : "))
num2 = int(input("2nd num : "))
print(num1 + num2)

**Change data type**

---

In [ ]:
age = 25
age_str = str(age)
print(age_str)
print(type(age_str))

25
<class 'str'>

# **2.3 Pythob basic data type**

In [ ]:
a = "sakib"
b = 2.4
c= 5
d = True
e = 2+3j
type(e)

complex

In [ ]:
type(e)
print(e)

(2+3j)

*Conversion data type to another*

---

In [ ]:
a = 5
b = 3.5
print(float(a))
type(float(a))
print(int(b))
type(int(b))

In [ ]:
condition = 7 > 5
print(condition)
type(condition)